#product {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

#content-detail {
    width: 100%;
}

.product-detail {
    display: flex;
    flex-wrap: nowrap;
}

.product-detail-left {
    padding-left: 20%
}

#product-name {
    padding: 15px;
}

    #product-name h2 {
        text-align: center;
        line-height: 15px;
        border-bottom: 1px solid gainsboro;
        width: 100%;
        font-size: 30px;
        padding-bottom: 15px;
    }

#product-img img {
    width: 50%;
}

#product-img-items {
    text-align: center;
    margin-top: 20px;
    display: inline-flex;
    width: 50%;
}

    #product-img-items div {
        border: 1px solid gainsboro;
        width: 20%;
        margin: 5px;
        border-radius: 5px;
        padding: 3px 0px;
    }

        #product-img-items div:hover {
            border: 1px solid red;
        }

    #product-img-items img {
        width: 80%;
    }

.product-detail-right {
    /*width: 60%;*/
}

.product-detail-right-content {
    width: 100%;
}

#product-price {
    color: red;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

#product-status {
    color: green;
    font-weight: bold;
}

#product-detail-right-button {
    margin-top: 30px;
}

#product-detail-buttons {
    margin-top: 20px;
    display: flex;
}

#product-detail-button {
    width: 100%;
}

    #product-detail-button input[type="button"] {
        width: 40%;
        height: auto;
        font-weight: bold;
    }

        #product-detail-button input[type="button"]:hover {
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
        }

.info-detail {
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
}

#info-detail-title {
    padding-right: 15px;
}

.info-detail #info-detail-title h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    border-bottom: 1px solid gainsboro;
    text-align: left;
}
