@page
@model PetShop_Project_SWP391.Pages.Home.IndexModel
@{
}

<div id="page-content" class="page-content">
        <div class="banner">
            <div class="jumbotron jumbotron-video text-center bg-dark mb-0 rounded-0">
                <video width="100%" preload="auto" loop autoplay muted>
                    <source src='/assets/media/explore.mp4' type='video/mp4' />
                    <source src='/assets/media/explore.webm' type='video/webm' />
                </video>
                <div class="container">
                    <h1 class="pt-5">
                    PETSHOP luôn mang đến những </br>
                    Sản phẩm chất lượng cho thú cưng của bạn
                    </h1>
                    <p class="lead">
                        Đáp ứng mọi nhu cầu 
                    </p>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border-0 text-center">
                                <div class="card-icon">
                                    <div class="card-icon-i">
                                        <i class="fa fa-shopping-basket"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Mua ngay
                                    </h4>
                                    <p class="card-text">
                                    Chỉ cần nhấp để mua sản phẩm bạn muốn và gửi đơn đặt hàng khi bạn hoàn tất.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-0 text-center">
                                <div class="card-icon">
                                    <div class="card-icon-i">
                                        <i class="fas fa-leaf"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Chất lượng
                                    </h4>
                                    <p class="card-text">
                                    Sản phẩm và dịch vụ đa dạng, chất lượng và dễ tiếp cận, khách hàng có thể chăm sóc thú cưng của mình một cách tốt nhất có thể.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-0 text-center">
                                <div class="card-icon">
                                    <div class="card-icon-i">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                    Vận chuyển
                                    </h4>
                                    <p class="card-text">
                                    Vận chuyển nhanh chóng, giao hàng đúng thời điểm. Giúp thú cưng của bạn có một tâm trạng tốt nhất

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<section id="why">
            <h2 class="title">Tại sao lại chọn PetShop</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-0 text-center gray-bg">
                            <div class="card-icon">
                                <div class="card-icon-i text-success">
                                    <i class="fas fa-leaf"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                Đồ dùng cao cấp cho thú cưng của bạn
                                </h4>
                                <p class="card-text">
                                Chúng tôi tự hào mang đến cho bạn những sản phẩm cao cấp và chất lượng nhất dành cho thú cưng của bạn. Từ thức ăn chất lượng đảm bảo dinh dưỡng cho chó và mèo, đến những phụ kiện thời trang và đồ chơi hấp dẫn, chúng tôi cam kết đáp ứng mọi nhu cầu của thú cưng yêu quý của bạn.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0 text-center gray-bg">
                            <div class="card-icon">
                                <div class="card-icon-i text-success">
                                    <i class="fa fa-question"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                Đồ chơi và phụ kiện độc đáo cho thú cưng của bạn
                                </h4>
                                <p class="card-text">
                                Chúng tôi tự hào mang đến cho bạn một bộ sưu tập đa dạng các đồ chơi và phụ kiện độc đáo cho thú cưng của bạn. Với những sản phẩm sáng tạo và thú vị, chúng tôi đảm bảo sẽ mang lại niềm vui và sự kích thích cho thú cưng của bạn. Hãy tạo ra một môi trường sống thú vị và đầy phong cách cho thú cưng của bạn với những sản phẩm độc đáo của chúng tôi.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0 text-center gray-bg">
                            <div class="card-icon">
                                <div class="card-icon-i text-success">
                                    <i class="fas fa-smile"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                Chăm sóc toàn diện cho thú cưng của bạn
                                </h4>
                                <p class="card-text">
                                Tại cửa hàng của chúng tôi, chúng tôi không chỉ cung cấp các sản phẩm chất lượng cho thú cưng mà còn cung cấp những dịch vụ chăm sóc toàn diện. Từ dịch vụ tắm, cắt tỉa lông, đến các khóa học huấn luyện và chăm sóc sức khỏe, chúng tôi sẽ giúp bạn mang lại sự thoải mái và hạnh phúc cho thú cưng của bạn.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-5 text-center">
                        <a href="shop.html" class="btn btn-primary btn-lg">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="categories" class="pb-0 gray-bg">
            <h2 class="title">Loại sản phẩm</h2>
            <div class="landing-categories owl-carousel">
            @foreach (var category in Model.Category)
            {
                <div class="item">
                    <div class="card rounded-0 border-0 text-center">
                        <img src="@category.Picture">
                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                            <!-- <h4 class="card-title">Vegetables</h4> -->
                            <a href="shop.html" class="btn btn-primary btn-lg">@category.CategoryName</a>
                        </div>
                    </div>
                </div>
            }
            </div>
        </section>
    </div>

    <style>
        img{
            width : 166px;
            height: 350px;
        }
    </style>
    