@*@page
@model PetShop_Project_SWP391.Pages.Manager.Blog.DeleteModel

@section Delete{
<h1>Xóa Blog</h1>

<p>Bạn có muốn xóa Blog Không?</p>

<form method="post" onsubmit="return confirm('Are you sure you want to delete this blog?');">
    <input type="hidden" asp-for="BlogDetail.BlogId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="/Manager/Blog/List" class="btn btn-secondary">Cancel</a>
</form>
<form method="post" onsubmit="return confirm('Are you sure you want to delete this blog?');">
    <input type="hidden" asp-for="BlogDetail.BlogId" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                var data = form.serialize();
                $.post(url, data)
                    .done(function (response) {
                        window.location.href = '/Manager/Blog/List';
                    })
                    .fail(function (error) {
                        console.log(error);
                    });
            });
        });
    </script>
}
*@